body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('gambar2.jpg');
    background-size: cover;
    
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

h2 {
    color: rgb(255, 255, 255);
}

table,
th,
td {
    border: 1px solid #ffffff;
    backdrop-filter: blur(10px);
}

th {
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
    text-align: left;
    color: rgb(0, 0, 0);
    background-color: #ccc;
}

a {
    text-decoration: none;
    color: rgb(31, 8, 8);

}


.tambah-container {
    background: transparent;
    padding: 20px;
    width: 350px;
    margin-left: 35%;
    margin-top: 100px;
    border-radius: 10px;
    border: 1px solid #ffffff;

    h2 {
        text-align: center;
    }

    form {
        justify-items: center;
    }
     
    
}

form input,
form textarea,
form button {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: rgb(0, 0, 0) ;
    
}


.apa {
    text-decoration: none;
    color: #ffffff;
}
